#asidebar {
  max-height: calc(100% - 40px);
  overflow-y: auto;
}

.ant-layout-sider-collapsed .sm-deco {
  display: block;
}
.ant-layout-sider-collapsed .lg-deco {
  display: none;
}

.sm-deco {
  display: none;
}
.lg-deco {
  display: block;
}
